@import "tailwindcss";

@layer base {
  @media print {
    @page {
      margin: 0;
    }
    body {
      background: white !important;
      color: black !important;
    }
  }
}

.break-after-page {
  break-after: page;
}
